.appbar {
    border-radius: 15px;
    margin: 35px 0;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
    align-items: center !important;
    box-shadow: 10px 10px 15px -16px rgba(0,0,0,0.75);
    background-color: rgb(250, 250, 250);
}

.toolbar {
    display :flex !important;
    justify-content: 'flex-end' !important;
}

.userName {
    display: flex !important;
    align-items: center !important; 
}

.profile{
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.userName {
    display: flex;
    align-items: center;
}

@media(max-width: 480px){
    .appbar {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center !important; 
        justify-content: center; 
        max-width: 270px;   
        margin-bottom: 20px;   
    }
}
  