.log{
    font-family: sans-serif;
    margin-bottom: 3%;
}

.logConatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 5%;
}

.logTitle{
    margin-top: 45px !important;
    padding: 5% !important;
    background-color: #858585;
    color: white;
}
